HTTPD_INCLUDES_PATH = /usr/include/httpd
INCLUDES = -I $(HTTPD_INCLUDES_PATH) -I /usr/include/apr-1
DEST = /usr/lib64
APXS = apxs
SUDO = sudo
LIBTOOL = /usr/lib64/apr-1/build/libtool
CP = cp
# DEBUG = -DDEBUG
